<c-vars
    error=""
    success=""
    disabled=""
    readonly=""
    required=""
    width=""
    hint=""
    aria_describedby=""
    value=""
    class="usa-input"
/>

<input
  class="{{ class }} {% if width %} usa-input--{{ width }}{% endif %}{% if error %} usa-input--error{% endif %}{% if success %} usa-input--success{% endif %}"
  {{ attrs }}
  {% if error %}aria-describedby="{{ id }}-error-message{% if hint %} {{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"
  {% elif hint or aria_describedby %}aria-describedby="{% if hint %}{{ id }}-hint{% endif %}{% if aria_describedby %} {{ aria_describedby }}{% endif %}"{% endif %}
  {% if disabled %}disabled{% endif %}
  {% if readonly %}readonly{% endif %}
  {% if required %}required{% endif %}
  {% if value != None %}value="{{ value }}"{% endif %}
/>
