<c-vars
  maxlength=""
/>

{% if maxlength %}
  <div class="usa-character-count {{ class|default:'' }}" data-maxlength="{{ maxlength }}">
    <c-textarea.widget :attrs="attrs" maxlength="{{ maxlength}}"></c-textarea.widget>
    <span class="usa-sr-only" id="{{ id }}-info">You can enter up to {{ maxlength }} characters</span>
    <span id="{{ id }}-counter" class="usa-hint usa-character-count__message" aria-live="polite">{{ maxlength }} characters allowed</span>
  </div>
{% else %}
  <c-textarea.widget :attrs="attrs" maxlength="{{ maxlength}}"></c-textarea.widget>
{% endif %}