<c-vars
    id=""
    selection_type=""
    name=""
    accept=""
    multiple=""
    disabled=""
    required=""
/>

<input
  id="{% if id %}{{ id }}{% else %}file-input-{{ selection_type }}{% endif %}"
  class="usa-file-input"
  type="file"
  name="{{ name }}"
  aria-describedby="{% if id %}{{ id }}-hint{% else %}file-input-{{ selection_type }}-hint{% endif %}"
  accept="{{ accept }}"
  multiple="{$ if multiple == 'true' $}multiple{$ endif $}"
  {% if required %}required{% endif %}
  {% if disabled %}disabled{% endif %}
/>
