{% extends "demo_app/pattern_base.html" %}

{% block component_content %}
<h1 class="font-heading-2xl">{{ component_name }}</h1>
<p class="usa-intro">The identifier communicates a site's parent agency and displays agency links required by federal policy.</p>

<h2 class="font-heading-xl margin-top-4">Default</h2>
<c-identifier
    domain="agency.gov"
    disclaimer="An official website of the <a href='https://www.usa.gov'>United States government</a>"
>
    <c-slot name="logos">
        <c-identifier.logo href="https://www.gsa.gov" icon="flag" alt="GSA logo" />
    </c-slot>

    <c-identifier.link href="/accessibility" text="Accessibility support" />
    <c-identifier.link href="/foia" text="FOIA requests" />
    <c-identifier.link href="/no-fear" text="No FEAR Act data" />
    <c-identifier.link href="/oig" text="Office of the Inspector General" />
    <c-identifier.link href="/performance" text="Performance reports" />
    <c-identifier.link href="/privacy" text="Privacy policy" />
</c-identifier>
{% endblock %}
