{% extends "demo_app/pattern_base.html" %}

{% block component_content %}
<h1 class="font-heading-2xl">{{ component_name }}</h1>
<p class="usa-intro">A link connects users to a different page or further information.</p>

<h2 class="font-heading-xl margin-top-4">Default</h2>
<p>Learn more about <c-link href="#">eligibility requirements</c-link> for federal assistance programs.</p>

<h2 class="font-heading-xl margin-top-4">External link</h2>
<p>Find current job openings on <c-link href="https://www.usajobs.gov" is_external="true">USAJobs</c-link>.</p>

<p class="margin-top-2">File your taxes online through the <c-link href="https://www.irs.gov" is_external="true">Internal Revenue Service</c-link>.</p>

<h2 class="font-heading-xl margin-top-4">Inline usage</h2>
<p>To request a replacement Social Security card, visit your <c-link href="#">local field office</c-link> or apply online through <c-link href="https://www.ssa.gov" is_external="true">Social Security Administration</c-link>. You will need to provide <c-link href="#">acceptable documents</c-link> to verify your identity.</p>
{% endblock %}
